.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; /* Adiciona ocultação para itens fora da visão */
  justify-content: center;
}
.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Adiciona a transição suave */
  justify-content: center;
  padding: 20px 0;
}
.carousel-item {
  text-align: center;
  border-radius: var(--border-radius);
  padding-bottom: 10px;
  border: 1px solid var(--detail-color-rgba);
  user-select: none; /* Impede a seleção de texto */
  pointer-events: none; 
  margin: 0 10px;
}
.carousel-item img {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid var(--detail-color-rgba);
}
.arrow-left,
.arrow-right {
  border: none;
  cursor: pointer;
  font-size: 35px; /* Ajuste se necessário */
  color: var(--detail-color-rgba); /* Cor do ícone */
  background-color: #ffffff; /* Fundo branco */
  border-radius: 50%; /* Faz o fundo ser um círculo */
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional para destaque */
  z-index: 1;
}
.arrow-left {
  position: absolute;
  left: 3%;
}
.arrow-right {
  position: absolute;
  right: 3%;
}

@media screen and (max-width: 500px) {
  .arrow-left,
  .arrow-right {
    font-size: 20px; /* Ajuste se necessário */
    width: 30px; /* Largura do botão */
    height: 30px; /* Altura do botão */

}
  
}